.container {
   padding: 10px 50px;
   background-color: #000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: sticky;
   top: 0;
   z-index: 999;
}

.listItem {
   font-weight: 800;
   cursor: pointer;
   color: #fff;
   font-size: 36px;
}

.cart {
   position: relative;
}

.counter {
   position: absolute;
   top: -10px;
   right: -10px;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: white;
   padding: 3px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: bold;
}

@media screen and (max-width: 480px) {
   .container {
      padding-left: 30px;
      padding-right: 30px;
   }
   .listItem {
      font-size: 28px;
      line-height: 24px;
   }
}
